#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  position: relative;
  margin: auto;
  width: 700px;
  height: 700px;
}
#controls {
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  background-color: black;
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid black;  
}
header {
font-family: Avenir, Helvetica, sans-serif;
font-color: black;
font-size: 30px;
text-align: center;
font-style: italic;
}
html {
background-image: radial-gradient(circle, lightskyblue, LightBlue)
}